*.vcxproj
*.filters
*.user
*.opt
*.sdf
*.suo
*.sln
*.dsw
*.opensdf
*.ncb
*.ipch
*.vs
*.obj
*.bsc
*.pch
*.lib
*.exp
*.pdb
*.o
*.so
Browse.VC.*
code/linux/debugi386
code/linux/releasei386
code/Executable/Debug
code/dlls/game/Debug
code/dlls/Debug
code/ipch
code/fucking_delete.bat
code/dlls/game/game.vcxproj.user
