code/Executable/Debug/
code/dlls/game/Debug/
code/dlls/Debug/
code/ipch/
code/fucking_delete.bat

code/linux/debugi386
code/linux/releasei386

*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.opt
*.sdf
*.suo
*.sln
*.dsw
*.opensdf
*.ncb
